@import './main.css';
@import './nav.css';
@import './faq.css';
@import './content.css';
@import './footer.css';
@import './funTech.css';
@import './contactUs.css';
@import './about.css';
@import './tesVideo.css';
@import './responsive.css';